.switch {
  margin-left: 25px;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #dfeaf2;
  border-color: #16dbcc;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.switch.on {
  background: #16dbcc;
}

.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.switch.on .switch-handle {
  left: 22px;
}
