#chartjs-tooltip {
  position: absolute;
  background: white;
  border: 2px solid #4d74ff;
  border-radius: 8px;
  pointer-events: none;
  transform: translate(-50%, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-top: 10px;
}

#chartjs-tooltip .tooltip-header {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  font-family: "Inter";
}

#chartjs-tooltip .tooltip-body {
  font-size: 18px;
  font-weight: normal;
  color: #4d74ff;
}

.chart-container {
  position: relative;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}
