.active {
  position: relative;
  color: #2d60ff;
}

.non-active {
  color: #b1b1b1;
}

.active::before {
  content: "";
  width: 8px;
  height: 100%;
  border-radius: 12px;
  background-color: #4775ff;
  position: absolute;
  left: -3px;
  top: 0;
  z-index: -1;
}

.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 230px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-mobile.translate-x-0 {
  transform: translateX(0);
}

.close-button {
  background-color: transparent;
  color: grey;
  padding: 10px;
  border: none;
  cursor: pointer;
}
