/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chart-container {
  position: relative;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Customize the shadow as needed */
  border-radius: 15px;
  background-color: white; /* Ensure the background is white for the shadow to be visible */
}
